.keypad-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .numbers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    height: 80%;
  }

  .operators-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 80%;
  }
}
